<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ef968d">  <td>20/07/23 11:51:02</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SubmitARequestPage.loadBefore()[pri:0, instance:com.MyDollarDaysTest.SubmitARequestPage@7276c8cd]">&gt;&gt;loadBefore</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1270144618</td>   <td></td> </tr>
<tr bgcolor="ef968d">  <td>20/07/23 11:51:22</td>   <td>20541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SubmitARequestPage.SignIn()[pri:1, instance:com.MyDollarDaysTest.SubmitARequestPage@7276c8cd]">SignIn</td> 
  <td>main@1270144618</td>   <td></td> </tr>
<tr bgcolor="ef968d">  <td>20/07/23 11:51:40</td>   <td>38318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SubmitARequestPage.SubmitARequest()[pri:2, instance:com.MyDollarDaysTest.SubmitARequestPage@7276c8cd]">SubmitARequest</td> 
  <td>main@1270144618</td>   <td></td> </tr>
</table>
